.login {
  height: 100vh;
  background: #f0f2f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    margin-bottom: 20px;
    color: #242425;
  }
}
.loginForm {
  width: 320px;
}
.code {
  height: 40px;
  background: #ffffff;
  img {
    width: 100%;
    height: 100%;
  }
}