.header {
  height: 48px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.logo {
  width: 180px;
  line-height: 48px;
  color: #ffffff;
  font-size: 20px;
}
.right {
  color: #ffffff;
  line-height: 48px;
}
.dropdown {
  padding: 0 10px;
  cursor: pointer;
  &:hover {
    background: #252a3d;
  }
}
.avatar {
  background-color: #fde3cf;
  color: #f56a00;
}