.form {
  display: flex;
  flex-wrap: wrap;
}
.formItem {
  width: calc(100% / 3);
  padding-right: 20px;
  box-sizing: border-box;
}
.btns {
  :global(.ant-form-item-control-input-content) {
    display: flex;
    justify-content: flex-end;
  }
}